* {
      margin: 0;
      padding: 0;
}
.container {
      width: 100%;
      background: #012;
      color: white;
}
img {
      filter: ;
      width: 100%;
}
h1 {
      text-align: center;
      padding: 10% 0;
      font-size: 5em;
}
p {
      font-size: 2em;
      padding: 10% 2%;
      text-indent: 5%;
      text-align: justify;
}

@media only screen and (min-width: 800px) {
      .container {
            width: 80%;
            margin: 0 10%;
      }
      h1 {
            font-size: 2em;
            padding: 6% 0;
      }
      p {
            padding: 3%;
            font-size: 1em;
      }
}

@media only screen and (min-width: 1300px) {
      .container {
            width: 50%;
            margin: 0 25%;
      }
      h1 {
            font-size: 1em;
            padding: 5% 0;
      }
      p {
            padding: 5%;
            font-size: 0.7em;
      }
}
